.theme-dark .contentColumn__23e6b{
    // Permissions
    // Fix header
    &#permissions-tab{
        h2{
            @include TypeTitle;
        }

        // Advanced permissions
        // Header
        .advancedModeDivider__4914c ~ .button__201d5{
            margin-top: 32px;
            .contents__201d5{
                .advancedTitle__4914c{
                    @include TypeBodyStrong;
                }
            }
        }
        // Sidebar
        .sidebarScrollable__53543{
            .scroller__53543{
                background-color: transparent;
            }
            .side_aa8da2 .item_aa8da2{
                margin-right: 8px;
                border-radius: 4px;
                @include TypeBody;
                &:hover{
                    background-color: $SubtleFillColorSecondary;
                }
                &.selected_aa8da2{
                    background-color: $SubtleFillColorSecondary;
                    &::before{
                        content: "";
                        width: 3px;
                        height: 16px;
                        position: absolute;
                        top: 50%;
                        margin-top: -8px;
                        left: 0;
                        background-color: $AccentBase;
                        border-radius: 2px;
                    }
                }
            }
        }

        // Permissions list
        // Fix width
        .sidebarScrollable__53543+.content__53543{
            max-width: calc(1000px - 232px);
        }

        // The permissions
        .permissionsForm__0ab2c{
            .container__5a838{
                margin-bottom: 8px;
                padding: 8px 16px;
                background-color: $CardBackgroundFillColorDefault;
                border: 1px solid $CardStrokeColorDefault;
                border-radius: 4px;
                label{
                    @include TypeBody;
                    line-height: 32px;
                }
                .description__5a838{
                    margin-right: 100px;
                    @include TypeCaption;
                }
            }
        }
    }

    // Invites
    // NOTE: 2023-06-17 - Cannot target Invites page
}
