.theme-dark .layer__960e4{
    .contentRegion__23e6b{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 7px 0 0 0;
    }
    .contentColumnDefault__23e6b{
        padding: 32px;
    }
    .contentRegionShownSidebar__23e6b{
        // justify-content: center;
    }
    .contentColumn__23e6b,
    .customColumn__23e6b{
        max-width: 1000px;
        padding: 44px 32px;
    }

    // Close button
    .closeButton_c2b141{
        width: 32px;
        height: 32px;
        flex: 0 0 32px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        svg path{
            fill: $TextFillColorPrimary;
        }
    }
    .keybind_c2b141{
        @include TypeBody;
        color: $TextFillColorPrimary;
    }

    // Title
    .sectionTitle__7bffb{
        .title_b717a1{
            margin-bottom: 32px;
            @include TypeTitle;
        }
    }

    // Setting container
    .container__0d850{
        margin-bottom: 8px;
        padding: 18px 24px;
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;

        .title__0d850{
            @include TypeBody;
        }
        .note__0d850{
            margin-right: 64px;
        }
        .description_ddd181, .labelDescriptor_ddd181{
            @include TypeCaption;
            color: $TextFillColorSecondary;
        }

        .divider__1de9c{
            display: none;
        }
    }
}
// Pages transition
@keyframes fluent-settings-pages-transition{
    from{
        transform: translateY(120px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.contentColumn__23e6b > *{
    animation: fluent-settings-pages-transition 250ms cubic-bezier(0, 0, 0, 1);
}

// Layer transition
// Also applies to Edit server profile
@keyframes fluent-layer-transition{
    from{
        transform: translateY(120px);
    }
    to{
        transform: translateY(0);
    }
}
.animating__960e4{
    animation: fluent-layer-transition 250ms cubic-bezier(0,0,0,1);
}

// Redux fixes - Settings Page Redesign Modal
.theme-dark {
    .container__8a031,
    .modal_e44912,
    .modalContent_e44912,
    .modalContentInner_e44912,
    .container_abd9a8,
    .sidebar__409aa,
    .content_e9e3ed,
    .contentHeader_e9e3ed,
    .contentBody_e9e3ed,
    .panel__6131a {
        background: transparent !important;
        background-color: transparent !important;
    }

    .container__8a031 {
        backdrop-filter: blur(var(--fluent-acrylic-background-blur));
    }

    .sidebar__409aa {
        width: 314px;
        padding-top: 40px;

        .item_caf372 {
            padding: 0 12px 0 16px;
            margin-bottom: 4px;
            border: 1px solid transparent;
            border-radius: 4px;
            font-feature-settings: "rclt" 0;
            line-height: 34px;
            position: relative;
            transition: background-color 0.2s;

            .itemContent_caf372 {
                display: flex;
                align-items: center;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.0605);
                color: #FFF;
            }

            &.active_caf372 {
                background-color: rgba(255, 255, 255, 0.0605);

                &::before {
                    transform: translateY(-50%) scaleY(100%);
                    opacity: 1;
                    transition: transform 250ms cubic-bezier(0.55, 0.55, 0, 1), opacity 250ms cubic-bezier(0.55, 0.55, 0, 1);
                }
            }

            &::before {
                content: "";
                width: 3px;
                height: 16px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) scaleY(0%);
                left: 0;
                background-color: hsl(var(--fluent-accent-hue-sat), calc(var(--fluent-accent-lightness) + 20%));
                border-radius: 2px;
                opacity: 0.3;
                transition: transform 167ms cubic-bezier(0, 0, 0, 1), opacity 167ms cubic-bezier(0, 0, 0, 1);
            }
        }

        .sectionLabel__409aa .label__409aa {
            padding: 0 0 0 8px;
            font-feature-settings: "fina" 1, "init" 1;
            font-weight: 600;
            color: #FFF !important;
            line-height: 34px;
            text-transform: none;
        }
    }

    .breadcrumbsNav__6989f .breadcrumbText__6989f {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        color: #FFF !important;
    }

    .accountProfileCard_a27e58 {
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;

        .background_a27e58 {
            background-color: transparent;
        }

        .fieldList_a27e58 {
            background-color: rgba(255, 255, 255, 0.03);
            border-radius: 4px;
            margin: 16px;
            padding: 16px;
        }
    }

    .divider__1de9c {
        background-color: rgba(255, 255, 255, 0.08);
    }
}
