.theme-dark .homeContainer__73533,
.theme-dark [class*="homeContainer_"] {
    // Main
    // Card
    .card_d4f6c7{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
    }

    // Side bar
    // Widget container
    .container_c68a2c,
    .container__29699,
    [class*="widgetContainer_"] {
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        // Server description
        .description__6b38f,
        [class*="description_"] {
            @include TypeBody;
        }
        // Active Now
        .container__55cc1,
        [class*="activeNowContainer_"] {
            border: 1px solid transparent;
            border-radius: 4px;
            &:hover{
                background-color: $CardBackgroundFillColorDefault;
                border: 1px solid $CardStrokeColorDefault;
            }
        }
    }
    // Server icon
    .icon_ac2d0d{
        margin-top: 0;
        background-color: transparent;
        border: 0;
    }
}