.theme-dark{
    .input__48d49,
    .input__0f084,
    .comboBoxInput__0edde {
        height: 32px;
        padding: 0 12px;
        border: 1px solid;
        border-bottom-width: 2px;
        border-color: $ControlStrokeColorDefault;
        border-radius: 4px;
        @include TypeBody;
        background-color: $ControlFillColorDefault;
        color: $TextFillColorPrimary;
        transition: all 0.2s ease;

        &:hover{
            border-color: $ControlStrokeColorSecondary;
            background-color: $ControlFillColorSecondary;
        }
        &:focus{
            background-color: $ControlFillColorInputActiveBrush;
            color: $TextFillColorPrimary;
            border-color: $ControlStrokeColorDefault;
            border-bottom-color: $AccentBase;
        }
        &::placeholder{
            color: $TextFillColorSecondary;
        }
    }

    .iconLayout__67261{
        position: absolute;
        top: 6px;
        right: 8px;

        // Home friends table seach bar
        &.medium__5b9a9{
            width: 22px;
            height: 22px;
            .iconContainer__4d295{
                width: 16px;
                height: 16px;
            }
        }
    }
}
