.container__8a031:has(.quickswitcher_ac6cb0) {
    padding: 0 !important;
}

.quickswitcher_ac6cb0,
.theme-dark .quickswitcher_ac6cb0{
    height: 100%;
    background: transparent !important;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    backdrop-filter: none;
    padding: 16px !important;

    &::before{
        content: "Quickswitcher";
        margin-bottom: 16px;
        @include TypeSubtitle;
        color: $TextFillColorPrimary;
    }

    .input_ac6cb0{
        height: 32px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-bottom-width: 2px;
        border-radius: 4px;
        @include TypeBody;
        color: $TextFillColorSecondary;
        &:hover{
            border-color: $ControlStrokeColorSecondary;
        }
        &:focus{
            background-color: $ControlFillColorInputActiveBrush;
            color: $TextFillColorPrimary;
            border-color: $ControlStrokeColorDefault;
            border-bottom-color: $AccentBase;
            box-shadow: none !important;
            outline: none !important;
        }
        &::placeholder{
            color: $TextFillColorSecondary;
        }
    }

    // Scroll content
    .resultsArea_ac6cb0,
    .scroller_ac6cb0,
    .content_d125d2 {
        background-color: transparent !important;
    }

    .scroller_ac6cb0 {
        max-height: unset;
        margin-top: 12px;
        margin-right: -4px;
        overflow-y: auto !important; // Override inline
    }

    .header__71961{
        @include TypeBodyStrong;
        color: $TextFillColorPrimary;
        text-transform: none;
    }

    .result__71961{
        &:hover,
        &[aria-selected="true"]{
            background-color: $SubtleFillColorSecondary !important;
            &::before{
                content: "";
                width: 3px;
                height: 16px;
                position: absolute;
                left: 0;
                top: 8px;
                background-color: $AccentFillColorDefault !important;
                border-radius: 2px;
            }
        }

        .name__71961{
            @include TypeBody;
            color: $TextFillColorPrimary;
            line-height: 32px;
            
            .match__71961 {
                color: $AccentTextFillColorPrimary;
                font-weight: 600;
            }

            .username__71961,
            .note__71961{
                margin: 0;
                opacity: 1;
                @include TypeCaption;
                color: $TextFillColorSecondary;
                text-transform: none;
            }
        }
        .miscContainer_ac6cb0{
            opacity: 1;
            @include TypeBody;
            color: $TextFillColorTertiary;
        }
    }

    // Footer
    .protip_ac6cb0{
        .pro__30cbe{
            display: none;
        }
        .tip__30cbe{
            @include TypeCaption;
            color: $TextFillColorSecondary;
            opacity: 1;
        }
        .autocompleteQuerySymbol_ac6cb0{
            background-color: transparent;
            @include FontMonospace;
        }
    }

    // Remove 'tutorial'
    .tutorial__73f2a{
        display: none;
    }
}
