.theme-dark .contentWrapper__08434,
.theme-dark #emoji-picker-tab-panel{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;
}

.theme-dark .contentWrapper__08434 #emoji-picker-tab-panel,
.theme-dark .contentWrapper__08434 #gif-picker-tab-panel,
.theme-dark .contentWrapper__08434 #sticker-picker-tab-panel,
.theme-dark .contentWrapper__08434 #kaomoji-picker-tab-panel{
    background: transparent;
    backdrop-filter: none;
    border: 0;
    border-radius: 0;
}

.theme-dark{
    // Navigation
    .nav__08434{
        .navButton__08434 {
            position: relative;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 16px;
            color: $TextFillColorPrimary;
            border-radius: 0;
            &:hover{
                background-color: transparent;
                color: $TextFillColorSecondary;
            }

        }
        .navButtonActive__08434 {
            background-color: transparent;
            color: $AccentTextFillColorPrimary;
            &::before{
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 2px;
                background-color: $AccentLight3;
                border-radius: 2px;
            }
            &:hover{
                color: $TextFillColorSecondary;
            }
        }
    }

    // Header
    .emojiPickerHasTabWrapper_c0e32c .header_c0e32c{
        padding: 0 12px 12px;
    }
    .header_c0e32c, // Emoji
    .header__8ef02, // Stickers
    .header_fed6d3, // GIFs
    .header__81b99{ // Kaomoji
        background-color: transparent;
        box-shadow: none;
    }
    // Search
    .container__5a838{
        padding: 0;
    }
    .container__72c38{ // Search container
        background-color: transparent;
    }
    .wrapper__72c38.container__0f084{
        background-color: transparent;
        border: 0;
        box-shadow: none;
        outline: none;

        &:focus-within,
        &:hover{
            background-color: transparent;
            border: 0;
            box-shadow: none;
            outline: none;
        }
    }
    // Emoji search
    // Fix inherited height
    .md__0f084 .input__0f084{
        height: 32px;
    }
    .input__0f084{
        margin: 0;
        padding-left: 12px;
        padding-right: 12px;
        background-color: $ControlFillColorDefault;
        color: $TextFillColorSecondary;
        border: 1px solid $ControlStrokeColorDefault;
        border-bottom: 2px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        @include TypeBody;
        &:hover{
            border-color: $ControlStrokeColorSecondary;
        }
        &:focus{
            background-color: $ControlFillColorInputActiveBrush;
            color: $TextFillColorPrimary;
            border-color: $ControlStrokeColorDefault;
            border-bottom-color: $AccentBase;
            box-shadow: none;
            outline: none;
        }
        &::placeholder{
            @include TypeBody;
        }
    }

    // Kaomoji
    .kaomojiContainer__81b99{
        padding-right: 0 !important; // Override inline
    }

    .categoryLabel__81b99{
        @include TypeBodyStrong;
        color: $TextFillColorPrimary !important;
        text-transform: none;
    }

    .button_a22cb0.secondary_a22cb0{
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;

        &:hover{
            background-color: $ControlFillColorSecondary;
            border-color: $ControlStrokeColorSecondary;
        }
    }

    // Emoji
    // Sidebar
    .categoryList_c0e32c{
        background-color: $SolidBackgroundFillColorBase;
    }

    // Sticker sidebar
    .wrapper__4e6ce.categoryList__3ad28{
        background-color: $SolidBackgroundFillColorBase;
    }

    .stickerCategory__3ad28,
    .standardStickerShortcut__3ad28{
        border-radius: 4px;

        &:hover{
            background-color: $SubtleFillColorSecondary;
        }
    }

    .stickerCategoryGenericSelected__3ad28{
        background-color: $ControlFillColorSecondary;
    }

    .standardStickerShortcut__3ad28{
        background-color: $SolidBackgroundFillColorSecondary;

        &:hover{
            background-color: $SolidBackgroundFillColorSecondary;
        }
    }

    .unicodeShortcut_b9ee0c{
        background-color: $SolidBackgroundFillColorSecondary;
        border-radius: 4px;
        color: $TextFillColorPrimary;

        &:hover{
            background-color: $SolidBackgroundFillColorSecondary;
        }
    }

    .stickerCategoryGenericIcon__3ad28,
    .standardStickerShortcut__3ad28,
    .stickerCategory__3ad28{
        color: $TextFillColorPrimary;
    }

    .upsell_ac65bb.emptyGuildUpsell_e94b8c{
        background-color: transparent;
        border: 0;
        border-radius: 0;

        .body_ac65bb{
            color: $TextFillColorPrimary !important;
        }

        .textButton__7a01b{
            color: $AccentTextFillColorPrimary;
        }
    }

    // Replace emoji icons
    .categoryItemDefaultCategory_b9ee0c{
        &.categoryItem_b9ee0c{
            svg{
                display: none;
            }
            &::before{
                padding: 2px;
                color: $TextFillColorPrimary;
                @include FontIconFluent;
                font-size: 20px;
                line-height: calc(32px - 8px);
                vertical-align: middle;
            }
            &[aria-label="top guild emoji"]::before{
                content: "\ECAD"; // Calories
            }
            &[aria-label="favorites"]::before{
                content: "\E734"; // FavoriteStar
            }
            &[aria-label="recent"]::before{
                content: "\E81C"; // History
            }
            &[aria-label="people"]::before{
                content: "\ED53"; // EmojiTabPeople
            }
            &[aria-label="nature"]::before{
                content: "\E8BE"; // Leaf
            }
            &[aria-label="food"]::before{
                content: "\ED56"; // EmojiTabFoodPlants
            }
            &[aria-label="activity"]::before{
                content: "\EA86"; // Puzzle
            }
            &[aria-label="travel"]::before{
                content: "\ED57"; // EmojiTabTransitPlaces
            }
            &[aria-label="objects"]::before{
                content: "\ED55"; // EmojiTabCelebrationObjects
            }
            &[aria-label="symbols"]::before{
                content: "\ED58"; // EmojiTabSymbols
            }
            &[aria-label="flags"]::before{
                content: "🏳‍🌈";
                @include TypeBody;
            }
        }
    }
    // Info bar
    .inspector_aeaaeb {
        background-color: $SolidBackgroundFillColorSecondary;
    }
    // "Popular" badge in info bar
    .topGuildEmojiBadge_aeaaeb{
        display: none;
    }

    // Emoji category header
    .header_c656ac,
    .wrapper__14245{
        margin: 0 -8px;
        padding: 0 16px;
        background-color: $SolidBackgroundFillColorTertiary;
        border-radius: 4px;
        .headerLabel__14245{
            @include TypeBodyStrong;
            color: $TextFillColorPrimary;
            text-transform: none;
        }
    }

    // Colour change
    .diversitySelectorButton_a45a2a{
        width: 30px;
        height: 30px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        position: relative;
        .diversityEmojiItemImage_a45a2a{
            margin: 3px;
        }
    }
    // Diversity selector in stand alone emoji popout (eg. reaction)
    .diversitySelectorOptions_a45a2a {
        // top: 0;
        right: 12px;
    }
    .diversitySelectorOptions_a45a2a {
        border: 1px solid $ControlStrokeColorDefault;
        .diversityEmojiItem_a45a2a{
            width: 30px;
            height: 30px;
            padding: 0;
        }
        .diversityEmojiItemImage_a45a2a{
            margin: 3px;
        }
    }


    // Nitro prompt
    .premiumPromo__3a1b6{
        background-color: $CardStrokeColorDefaultSolid;
        .premiumPromoImage__3a1b6{
            display: none;
        }
        .premiumPromoTitle__3a1b6{
            @include TypeBodyLarge;
        }
        .premiumPromoDescription__3a1b6{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }
}
