/**
 * Start user options
*/

/**
 * Note on chat font size
 * You may want to change your chat font scaling to '14px' to match the font size in Windows.
 * This option is found in User settings > Appearance.
*/

:root{
    /* DefaultBlue */
    --fluent-accent-hue-sat: 207, 100%;
    --fluent-accent-lightness: 42%;
    --fluent-text-on-accent-color: 0, 0, 0;
  --fluent-selected-ring-color: hsl(var(--fluent-accent-hue-sat), calc(var(--fluent-accent-lightness) + 25%));
    --fluent-acrylic-background: url(https://raw.githubusercontent.com/supersharp/Fluent-Discord-Redux/9b2870297a28d41d4b5f3eea937ccb7d532f9b50/images/Captured_Motion_27.jpg);
    --fluent-acrylic-background-blur: 24px;
    --fluent-acrylic-background-dimness: 75%;
    --fluent-acrylic-background-saturate: 140%;
    --fluent-show-nitro-decorations: none;
}

/**
 * End user options
*/
