@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI") format("truetype"),
         url("https://github.com/supersharp/Fluent-Discord-Redux/raw/0125e404710ed1f323593f3aa2c888627f164196/Fonts/segoeui.ttf") format("truetype");
}
@font-face {
    font-family: "Segoe Fluent Icons";
    src: local("Segoe Fluent Icons"),
         url("https://github.com/supersharp/Fluent-Discord-Redux/raw/0125e404710ed1f323593f3aa2c888627f164196/Fonts/Segoe-Fluent-Icons.ttf") format("truetype");
}

// Override Discord brand fronts
:root{
    --font-primary: "Segoe UI Variable Text", "Segoe UI", "Helvetica Neue", Helvetica, Verdana, Tahoma, Geneva, Arial, sans-serif;
    --font-display: "Segoe UI Variable Display", "Segoe UI", "Helvetica Neue", Helvetica, Verdana, Tahoma, Geneva, Arial, sans-serif;
    --font-code: Consolas, Menlo, Monaco, "Courier New", monospace;
}

// Override Discord brand/link colors with fluent accent
.theme-dark{
    --text-link: #{$AccentTextFillColorPrimary};
    --text-link-low-saturation: #{$AccentTextFillColorPrimary};
}

*,
::before,
::after{
    letter-spacing: normal;
}

// Override nitro username fonts
.cherryBomb__89a31,
.chicle__89a31,
.museoModerno__89a31,
.neoCastel__89a31,
.pixelify__89a31,
.sinistre__89a31,
.zillaSlab__89a31{
    font-family: var(--font-primary);
}
