.theme-dark .nowPlayingColumn__133bf{
    background: transparent;
    .container__7d20c{
        background-color: $LayerFillColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
    }
    .scroller__7d20c{
        border: 0;
    }

    // Header
    .header__7d20c{
        @include TypeSubtitle;
    }

    // User data consent card
    .card__2eab1.outer_bf1984{
        background-color: $LayerFillColorDefault;
        .header__2eab1,
        .defaultColor__77578 {
            text-align: left;
        }
    }

    // Card
    .wrapper__00943,
    .container__0f2e8 {
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;
        margin: 8px 0 0 8px;
        padding: 8px;

        &:hover {
            background-color: $LayerFillColorAlt;
        }

        .userName__0f2e8,
        .nameContainer__703b9 {
            @include TypeBodyStrong;
        }

        .contentTitle__0f2e8 {
            @include TypeBody;
            color: $TextFillColorPrimary !important;
        }

        .badgesContainer__635ed {
            @include TypeCaption;
            color: $TextFillColorSecondary;
            margin-top: 4px;
        }

        .thumbnail__0f2e8 {
            border-radius: 4px;
        }

        // Facepile (multiple users)
        .facePileItem__0f2e8 {
            .wrapper__44b0c {
                border-radius: 50%;
                border: 2px solid $LayerFillColorDefault;
                margin-left: -4px;
                
                &:first-child {
                    margin-left: 0;
                }
            }
            .mask__44b0c foreignObject {
                mask: none !important;
                border-radius: 50%;
            }
        }
    }

    .inset_bf1984{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;
        .section__00943{
            background-color: transparent;
        }
    }

    // Empty
    .emptyCard__7e549{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        align-items: baseline;
        text-align: left;
    }
}
